body{
    color:black;
    background: white;
    margin:0px;
}

header{border-bottom: solid 2xp rgb(42, 122, 228)
padding: 20xp
front-size: 32px
color: rgb(42, 122, 228)

}

section{
background: rgb(184, 156, 213)
padding: 80px;
padding-top: 80px;



}